<a href="https://colab.research.google.com/github/VictorMM7/Optativa-Profesional-Data-Science/blob/main/Uniones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TIPOS DE UNIONES (JOINS) EN PYTHON**

In [ ]:
import pandas as pd

**CREAR DOS DATAFRAME**

In [ ]:
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Nombre': ['Juan', 'María', 'Carlos', 'Ana'],
    'Departamento': ['Ventas', 'IT', 'Marketing', 'RH']
})

df2 = pd.DataFrame({
    'ID': [3, 4, 5, 6],
    'Salario': [50000, 60000, 55000, 65000]
})
print("DataFrame1:")
print(df1)
print("\nDataFrame2:")
print(df2)

DataFrame1:
   ID  Nombre Departamento
0   1    Juan       Ventas
1   2   María           IT
2   3  Carlos    Marketing
3   4     Ana           RH

DataFrame2:
   ID  Salario
0   3    50000
1   4    60000
2   5    55000
3   6    65000

**FUSION INNER**

In [ ]:
inner_merge = pd.merge(df1, df2, on='ID', how='inner')
print("\nFusion Inner:")
print(inner_merge)

Fusion Inner:
   ID  Nombre Departamento  Salario
0   3  Carlos    Marketing    50000
1   4     Ana           RH    60000

**FUSION OUTER**

In [ ]:
outer_merge = pd.merge(df1, df2, on='ID', how='outer')
print("\nFusion Outer:")
print(outer_merge)

Fusion Outer:
   ID  Nombre Departamento  Salario
0   1    Juan       Ventas      NaN
1   2   María           IT      NaN
2   3  Carlos    Marketing  50000.0
3   4     Ana           RH  60000.0
4   5     NaN          NaN  55000.0
5   6     NaN          NaN  65000.0

**FUSION LEFT**

In [ ]:
left_merge = pd.merge(df1, df2, on='ID', how='left')
print("\nFusion Left:")
print(left_merge)

Fusion Left:
   ID  Nombre Departamento  Salario
0   1    Juan       Ventas      NaN
1   2   María           IT      NaN
2   3  Carlos    Marketing  50000.0
3   4     Ana           RH  60000.0

**FUSION RIGHT**

In [ ]:
right_merge = pd.merge(df1, df2, on='ID', how='right')
print("\nFusion Right:")
print(right_merge)

Fusion Right:
   ID  Nombre Departamento  Salario
0   3  Carlos    Marketing    50000
1   4     Ana           RH    60000
2   5     NaN          NaN    55000
3   6     NaN          NaN    65000

**CONCATENACION**

In [ ]:
df3 = pd.DataFrame({
    'ID': [7,8],
    'Nombre': ['Sofia', 'Pedro'],
    'Departamento': ['Finanzas', 'Ventas']
})

concatenated_df = pd.concat([df1, df3])
print("\nConcatenacion de DataFrame:")
print(concatenated_df)

Concatenacion de DataFrame:
   ID  Nombre Departamento
0   1    Juan       Ventas
1   2   María           IT
2   3  Carlos    Marketing
3   4     Ana           RH
0   7   Sofia     Finanzas
1   8   Pedro       Ventas